html{
	scroll-behavior: smooth;
}
body{max-width: 100% !important;
	padding: 0;
	margin: 0;
	}
/* *****************Navigation**************** */
.bar {
	background: gray;
	/* background:black; */
	text-align: right;
	/* text-align:left; */
	font-size: 20px;
	padding: 10px 10px;
	margin: 0 0;
	border-bottom: 5px solid #55F608;
}
.titre{
	margin-right: 30px;
}
.ima{
	position: absolute;
	
	margin: -10px 1px;
	}
.seh{
	padding: 5px 15px;
	text-align: center;
	}
nav a{	
	margin: 0;
	padding: 15px 15px;
	display: inline-block;
	background-color: rgb(115 115 115);
	color: white;
	border-radius: 20px;
	}
nav a:hover{
	background-color: #d59022;
}
a:hover{color: #a64676;
}
a{text-decoration: none;}
	
.bar ul, .bar li {
	margin: 0;
	padding: 0 0;
	border-radius: 0;
	background-color: initial;
	/* text-align:center; */
	/* color:black; */
	/* margin:left; */
	/* padding: 8px 12px; */
	display: inline-block;
	text-decoration: #59e575;
	/* flex: 1; */
	/* align-items:center; */
	}
.onglets{
	/* position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0; 
  z-index: 1;
}
.onglet_mobile{
	height: 80%;
	background-color: gray;
	width: 200px;
	position: fixed;
	z-index: 3;
	display: flex;
	flex-direction: column;
}
nav ul li{
	list-style: none;
	margin: 10px;
	text-align: center;
	display: block;
}
.marque{
	display: none;
}
nav ul li:hover .marque{
	display: block;
	position: absolute;
	background: none;
	margin-top: 0;
	margin-left: 0;
}
nav ul li .marque ul li{
	display: block;
	/* margin: 10px; */
}
nav ul li:hover .marque .lis li{
	width: 100px;
	padding: 5px;
	/* border-bottom: 1px dotted #fff; */
	background: transparent;
	border-radius: 0;
	text-align: left;
}
nav ul li .marque .lis li a{
	color:red;
	background-color: rgb(255 255 255);
	}
nav ul li .marque .lis li a:hover{background-color: gray;color: black;}
.toggle_btn{
	height: 30px;
	width: 30px;
	position: absolute;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
	right: 0;
}
.toggle_btn span{
	height: 3px;
	background-color: #0c0c0c;
	width: 100%;
	position: absolute;
	top: 20px;
	left: 0;
}
.toggle_btn span:before{
	content: '';
	height: 3px;
	background-color: #0c0c0c;
	width: 100%;
	position: absolute;
	top: -10px;
	left: 0;
}
.toggle_btn span:after{
	content: '';
	height: 3px;
	background-color: #0c0c0c;
	width: 100%;
	position: absolute;
	top: 10px;
	left: 0;
}
.onglet_mobile {
	margin-left: -200px;
	transition-duration: 0.2s;
}
.onglet_mobile_open {
	margin-left: 0;
	transition-duration: 0.2s;
}

/* ****************Image_acceuil**************** */
header{
	display: flex;
	flex-direction: column;
	/* align-items:center; */
	background-image: url('image.jpg');
	background-size: cover;
	padding: 80px 0;
	background-attachment: fixed;
	max-width: 100%;
}
header h1{
	color: white;
	font-size: 100px;
	text-align: center;
	margin-top: -30px;
	max-width: 100%;
}
header p{
	color: yellow;
	font-size: 50px;
	text-align: center;
	padding: 0 0;
}
.Reche{
	text-align: center;
	margin: auto;
	max-width: 100%;
	/* display: inline-block; */
}
.input_recherche{
	height: 50px;
	font-size: 30px;
	width: 30em;
	max-width: 80%;
	border-radius: 20px 0 0 20px;
	padding: 12px 20px 12px 40px;
	float: left;
	/* background-image: url('recherche.jpg'); */
	/* background-position: 10px; */
	/* background-repeat: no-repeat; */
}
.button_recherche{
	height: 50px;
	font-size: 20px;
	width: 8em;
	max-width: 20%;
	margin-left: -5px;
	padding: 10px;
	border-radius: 0 20px 20px 0;
	float: left;
}
.search{
}
/* ****************les sections**************** */
.sections{
	display:flex;
	width: 100%;
}
.sect1{
	border: 2px solid black;
	margin-top: 20px;
	margin-right: 20px;
	max-width: 1366px;
	float: left;
	height: 20em;
	padding: 5px;
}
.imgS{
	width: 100%;
	height: 18em;
	margin-right: 10px;
}
.titreS{
	margin: 0 0;
	text-align: center;
	padding: 0;
	font-weight: bold;
}
.Alp{
	/*z-index: -1;*/
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	background: #f0f0f0;
}
.marquee_content {
	display: inline-flex;
	animation: defilement 20s linear infinite;
}
.marquee_content img {
	margin-right: 20px;
	flex-shrink: 0;
}
@keyframes defilement {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
/*  ****************Pieds de page**************** */
footer{
	margin-top: 30px;
	border-top: 8px solid #55F608;
	background-color: gray;
	color: orange;
	padding: 30px 100px;
	position: relative;
}
footer p{
	text-align: center;
	font-size: 20px;
}
.pieds{
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	/* margin-left: 150px; */
	}
.pagef{
	text-align: center;
}
 .servClt {	
	margin-right: 50px;
	padding: 20px;
}
footer .servClt p{
	max-width: 300px;
}
footer h2{font-size: 25px;}
.payment-icon{
	display: inline-block;
	opacity: 0.7;
	width: 25px;
	height: 25px;
}
.payment-icon:hover {
	opacity: 1;
	border: 1px solid black;
	width: 30px;
	height: 30px;
}
/*-------------------------------------------Responsive-----------------------------------*/
/* max-width: 1065px; */
@media screen and (max-width:1065px){
.Reche{
	text-align: center;
	margin: 0;
	max-width: 100%;
}
header p{
	color: yellow;
	font-size:  200%;
	text-align: center;
	padding: 0 0;
}
.ima img{
	position: absolute;
	top: 0;
	height: 50px;
	width: 55px;
}
.onglets{
	display: none;
}
.onglet_mobile ul{
	padding: 0;
	margin-top: 60px;
}
.onglet_mobile ul li{
	margin-top: 30px;
}
/*.onglet_mobile nav{
	display: flex;
}*/
.onglet_mobile span{
	display: none;
}
ul li .lis{
	margin: 0;
}
.sect1{
	float: none;
	margin: 5px;
}
.sections{
	display: block;
	margin: 0;
}
.button_recherche{
	height: 40px;
	font-size: 10px;
	width: 20%;
	max-width: 20%;
	margin-left: -5px;
	padding: 10px;
	border-radius: 0 15px 15px 0;
	float: left;
}
.input_recherche{
	height: 40px;
	font-size: 15px;
	width: 80%;
	max-width: 80%;
	border-radius: 20px 0 0 20px;
	padding: 10px 15px 10px 20px;
	float: left;
}
header h1{
	color: white;
	font-size: 200%;
	text-align: center;
	margin-top: -30px;
	max-width: 100%;
}
}
/*------------------------------------------- Fin Responsive-----------------------------------*/

/* ****************LOGIN**************** */
.login{
	font-size: 80px;
	text-align: center;
	border: 6px;
}
.formulaire{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100%;
}
.rappelC{
	font-size: 20px;
	font-family: "Courier New", courier, monospace;
	margin-top: 30px;
}
.txt{
	text-align: left;
	/* display: inline-block; */
	font-size: 30px;
	top: 30px;
}
.cadre{
	position: relative;
	text-align: left;
	height: 300px;
	width: 100%;
	border-radius: 10px;
	}
.cadre2{
	border-radius: 20px;
	width: 100%;
}
.User{
	width: 60%;
	height: 30px;
	margin: 30px 0 10px 5px; 
	font-size: 20px;
	border-radius: 5px;
	padding: 5px 10px;
}
.passW{
	font-size: 20px;
	height: 30px;
	margin-left: 55px;
	border-radius: 5px;
	padding: 5px 10px;
}
.oublie{
	float: left;
}
.boutonS{
	text-align: right;
	font-size: 20px;
	padding: 5px;
}
.User:focus{background:gray;}
.passW:focus{background:gray;}


/* **************** Création de compte **************** */
.create{
	border: 5px solid;
	margin: 0 250px 100px 200px;
	padding: 30px;
	font-size: 2em;
	justify-content: center;
	border-radius: 0 20px 0 20px;
}
.inp{
	font-size: 20px;
	padding: 5px 5px 5px 15px;
	margin-bottom: 10px;
	border-radius: 5px; 
}
.iti__selected-flag{
	font-size: 15px;
}
.iti__country-list{
	font-size: 15px;
}
